html {

}

#container {

}

#upper-row, #lower-row {
    max-width: 900px;
}

#lower-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4em;
}


.list {
    border: 2px dotted goldenrod;
    min-width: 45%;
}

#upper-row .list ul {
    list-style-type: none;
    margin-left: -16px;
    text-align: center;
}

.list ul li {
    padding: 0.4em;
}